.karyawan {
  background-color: white;
  box-sizing: border-box;
  max-width: 750px;
  position: relative;
  border-radius: 5px;
  padding: 22px;
  margin: auto;

  &__item:not(:last-child) {
    margin-bottom: 12px;
  }

  &__header {
    line-height: 55px;
  }

  &__body {
  }
}
